@charset "UTF-8";

/*
  @extend” 来继承已存在的类样式块
  弥补了混合宏的不足之处
*/
.btn{
  border:1px solid red;
}

.btn-primary{
  background-color: #f36;
  color:#fff;
  @extend .btn
}

.btn-second{
  background-color: #2718ff;
  @extend .btn
}